<p id="notice"><%= notice %></p>

<p>
  <strong>Building type:</strong>
  <%= @quote.Building_Type %>
</p>

<p>
  <strong>Number of apartments:</strong>
  <%= @quote.Number_of_apartments %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @quote.Number_of_floors %>
</p>

<p>
  <strong>Number of basements:</strong>
  <%= @quote.Number_of_basements %>
</p>

<p>
  <strong>Number of separate companies:</strong>
  <%= @quote.Number_of_separate_companies %>
</p>

<p>
  <strong>Number of parking spaces:</strong>
  <%= @quote.Number_of_parking_spaces %>
</p>

<p>
  <strong>Maximum number of occupants per floor:</strong>
  <%= @quote.Maximum_Number_Of_Occupants_Per_Floor %>
</p>

<p>
  <strong>Number of dstinct businesses:</strong>
  <%= @quote.Number_Of_Dstinct_Businesses %>
</p>

<p>
  <strong>Number of elevators needed:</strong>
  <%= @quote.Number_Of_Elevators_Needed %>
</p>

<p>
  <strong>Number of hours of activity of the building:</strong>
  <%= @quote.Number_Of_Hours_Of_Activity_Of_The_Building %>
</p>

<p>
  <strong>Type of installation:</strong>
  <%= @quote.Type_Of_Installation %>
</p>

<p>
  <strong>Amount of elevators needed:</strong>
  <%= @quote.Amount_Of_Elevators_Needed %>
</p>

<p>
  <strong>Elevator unit price:</strong>
  <%= @quote.Elevator_Unit_Price %>
</p>

<p>
  <strong>Elevator total price:</strong>
  <%= @quote.Elevator_Total_Price %>
</p>

<p>
  <strong>Installation fees:</strong>
  <%= @quote.Installation_Fees %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @quote.Final_Price %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Home', "/" %>
