<a class="slidetop-toggle" href="#"></a>
			<!-- toggle button -->


		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">


			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->

						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/images/Logo.png" alt="" />
						</a>

						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!--
									.nav-onepage
									Required for onepage navigation links

									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a id="home-nav" href="#home">
											HOME
										</a>
									</li>
									<li>
										<!-- SERVICES -->
										<a id="services-nav" href="#services">
											SERVICES
										</a>
									</li>
									<li>
										<!-- PORTFOLIO -->
										<a id="portfolio-nav" href="#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li>
										<!-- NEWS -->
										<a id="news-nav" href="#news">
											NEWS
										</a>
									</li>

									<li>
										<!-- CLIENTS -->
										<a id="clients-nav" href="#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<!-- CONTACT -->
										<a id="contact-nav" href="#contact">
											CONTACT
										</a>
									<li>
										<!-- SUBMISSION -->
										<a id="quote-nav" href="quotes/new.html#">
											SUBMISSION
										</a>
									</li>
									<li>
										<!-- LOGIN -->
										<a id="login-nav" href="/admin">
											LOGIN
										</a>
									</li>
									<li>
										<!-- LOGOUT -->
										<a id="logout-nav" data-method="delete" href="/users/sign_out">
											LOGOUT
										</a>
									</li>

								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">

				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul id="home" class="hide">

						<!-- SLIDE 1 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300"
							data-saveperformance="off" data-title="Our Services & Quote">
							<!-- MAIN IMAGE -->
							<img src="assets/images/img15.jpeg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4">
								<!-- dark overlay [0 to 9 opacity] -->
							</div>

							<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="100" data-y="100"
								data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:50px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								ELEVATE SAFETY, SPEED AND STYLE
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="100"
								data-y="300" data-speed="500" data-start="2000" data-easing="Power3.easeInOut"
								data-splitin="none" data-splitout="none" data-elementdelay="0.1"
								data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								If you want the best elevators on the market, you can count on us ! <br />
								Our vast selection of premium elevators is sure to please your needs !
							</div>

							<div class="tp-caption sfb tp-resizeme" data-x="100" data-y="410" data-speed="500"
								data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
								data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
								style="z-index: 4; max-width: auto;">
								<a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme" data-x="300" data-y="410" data-speed="500"
								data-start="1500" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-danger btn-lg" href="quote.html#">GET A QUOTE &nbsp; <i
										class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 2 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"
							data-saveperformance="off" data-title="Residential Options">
							<!-- MAIN IMAGE -->
							<img src="assets/images/img2.jpeg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="100" data-y="100"
								data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								RESIDENTIAL OPTIONS
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="100"
								data-y="300" data-speed="500" data-start="2000" data-easing="Power3.easeInOut"
								data-splitin="none" data-splitout="none" data-elementdelay="0.1"
								data-endelementdelay="0.1" data-endspeed="600"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								Our elevators for residential buildings are known for their amazing looks <br />
								and unique technology which make them the safest on the market !
							</div>

							<div class="tp-caption tp-fade" data-x="left" data-y="25" data-speed="300" data-start="800"
								data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="300" style="z-index: 4;">

							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="100" data-y="410"
								data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
								<a class="btn btn-primary btn-lg" href="residential.html" target="_blank">Residential
									Options &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 3 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="300"
							data-saveperformance="off" data-title="Corporate and Commercial Options">
							<!-- MAIN IMAGE -->
							<img src="assets/images/img18.jpeg" alt="cover image" data-bgposition="center top"
								data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4">
								<!-- dark overlay [0 to 9 opacity] -->
							</div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="100" data-y="100"
								data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								CORPORATE AND COMMERCIAL OPTIONS
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme" data-x="100" data-y="300"
								data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none"
								data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
								Our elevators for Corporate Buildings are extremely safe, fast and reliable. <br />
								To make sure your employees have the ideal tools to work safely and efficently !
							</div>

							<div class="tp-caption sfb tp-resizeme" data-x="100" data-y="410" data-speed="500"
								data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none"
								data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500"
								style="z-index: 4; max-width: auto;">
								<a class="btn btn-danger btn-lg" href="commercial.html" target="_blank">Corporate and
									Commercial
									Options
									&nbsp; <i class="fa fa-angle-right"></i></a>
							</div>


						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a style="background: #303030" href="#contact" class="btn btn-xlg btn-dark fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convince you?
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->



			<!-- Services -->


			<!-- Awards -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover" href="#portfolio">
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/AwardsImage.jpeg" alt="img" />
							</a>

							<h3 class="mt-10">Our awards and major projects.</h3>
							<p>Our way of thinking about the projects that we do and how we operate them with care and
								passion led us to win multiple awards for our projects across the globe. Rocket
								Elevators is now known all around the world for the quality of products and services we
								provide.</p>

							<a style="background:#303030" href="#portfolio" class="btn btn-dark">Portfolio</a>
						</div>

						<!-- Residential -->
						<div class="col-sm-4">
							<a class="image-hover" href="#" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/ResidentialImage.jpeg" alt="img" />
							</a>
							<h3 class="mt-10">Our elevetors for Residential buildings </h3>
							<p> The elevators in residential buildings are known for their durability. They are equipped
								with the safest technology on the market which make them the number one choice for
								consumers that are looking for the best at an affordable price.</p>
							<a href="residential.html" target="_blank" class="btn btn-primary">Residential Options</a>
						</div>

						<!-- Corporate -->
						<div class="col-sm-4">
							<a class="image-hover" href="#" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark">
									<!-- image-hover-light | image-hover-dark -->

								</span>
								<img class="img-fluid" src="assets/images/CorporateImage.jpeg" alt="img" />
							</a>
							<h3 class="mt-10">Our elevators for Corporate buildings</h3>
							<p>We know that the elevators in corporate buildings have to be both efficient and safe.
								Rocket Elevators has been keeping up with the latest technologies available on the
								market to provide the best products and technologies for our clients.</p>
							<a href="commercial.html" target="_blank" class="btn btn-danger">Corporate Options</a>

						</div>

					</div>
			</section>
			<!-- /Services -->




			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/img3.jpeg');">
				<div class="overlay dark-5">
					<!-- dark overlay [1 to 9 opacity] -->
				</div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300"> In the elevator buisiness since 1976 !</h2>
						<a class="btn btn-primary btn-lg" href="#contact">Contact Us </a> <i
							class="fa fa-angle-right"></i></a>
						&nbsp; OR &nbsp;
						<a class="btn btn-danger btn-lg" href="quote.html">Request a quote <i
								class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section>
				<div class="container" id="portfolio">

					<div class="heading-title heading-dotted text-center">
						<h2>Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="Residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="Corporate" class="filter"><a href="#">Corporate</a></li>
							<li data-filter="Awards" class="filter"><a href="#">Awards</a></li>
						</ul>
					</div>

				</div>

				<div class="portfolio-nogutter">

					<div class="row mix-grid">

						<div class="col-md-3 col-sm-3 mix Awards">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="app/assets/images/Awards1.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<!-- details -->
											<!-- <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-6.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a> -->

										</span>
									</span>

									<img class="img-fluid" src="assets/images/Awards1.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Winner for Project Of The Year by ELEVATOR WORLD in 2019 </h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">Alabama</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Awards">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Awards2.png"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<!-- details -->
											<!-- <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-6.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a> -->

										</span>
									</span>

									<img class="img-fluid" src="assets/images/Awards2.png" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Winner of the elevator industry awards for Best Supplier by ELEVATOR WORLD in
										2020 </h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">Texas</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Awards">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Awards3.png"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

											<!-- details -->
											<!-- <a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-4.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a> -->

										</span>
									</span>

									<img class="img-fluid" src="assets/images/Awards3.png" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Winner for Project Of The Year by ELEVATOR WORLD in 2021</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">CANADA</a></li>
										<li><a href="#">Québec</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Awards">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Awards4.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>

										</span>
									</span>

									<img class="img-fluid" src="assets/images/Awards4.jpg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>The 2021 Yicai China elevator honorable ranking</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">CHINA</a></li>
										<li><a href="#">Guangdong</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Corporate">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Cor1.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>


										</span>
									</span>

									<img class="img-fluid" src="assets/images/Cor1.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Willis Tower</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">Chicago</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Corporate">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Cor2.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Cor2.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">

									<h3> Gooderham Building</h3>

									<ul class="list-inline categories m-0">
										<li><a href="#">CANADA</a></li>
										<li><a href="#">Toronto</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Corporate">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Cor3.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Cor3.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Corporate Bay Tower</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#"> UNITED ARAB EMIRATES</a></li>
										<li><a href="#"> Dubai</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


						<div class="col-md-3 col-sm-3 mix Corporate">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Cor4.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Cor4.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Vniau Office</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">CHINA</a></li>
										<li><a href="#">Henan</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix Residential">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Res1.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Res1.jpg " width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Le Domaine Des Méandres</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">CANADA</a></li>
										<li><a href="#">Québec</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix Residential">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Res2.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Res2.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>432 Park Avenue</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">USA</a></li>
										<li><a href="#">New York</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix Residential">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Res3.jpeg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>



										</span>
									</span>

									<img class="img-fluid" src="assets/images/Res3.jpeg" width="600" height="399"
										alt="">
								</figure>

								<div class="item-box-desc">
									<h3>The Harbourside</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">CHINA</a></li>
										<li><a href="#">Hong Kong</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix Residential">
							<!-- item -->

							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- lightbox -->
											<a class="ico-rounded lightbox" href="assets/images/Res4.jpg"
												data-plugin-options='{"type":"image"}'>
												<span class="fa fa-plus fs-20"></span>
											</a>


										</span>
									</span>

									<img class="img-fluid" src="assets/images/Res4.jpg" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Obel Tower</h3>
									<ul class="list-inline categories m-0">
										<li><a href="#">UK</a></li>
										<li><a href="#">Nothern Ireland</a></li>
									</ul>
								</div>

							</div>

						</div><!-- /item -->


					</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section id="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0"
						data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="employee" class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/employee-of-the-month.jfif" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">A great day for me is when the client is happy with the results and
									congradulates me, truly and amazing feeling ! </p>
								<cite>
									Philippe Thivierge
									<span>Employee of the month.</span>
								</cite>
							</div>
						</div>
						<div id="CEO" class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/CEO.png" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Our customers truly are the center of our company, a special thank you
									to all of our clients for your trust and confidence.</p>
								<cite>
									David Amyot
									<span>CEO of Rocket Elevators Ltd.</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
						data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.nbcnews.com/news/us-news/man-killed-elevator-accident-manhattan-high-rise-n1045656"
								target="_blank">
								<img class="img-fluid" src="assets/images/News1.jfif" alt="">
							</a>

							<h4 class="text-left mt-20"><a
									href="https://www.cbsnews.com/video/man-injured-in-out-of-control-elevator-crash-caught-on-tape/">Man
									killed in elevator accident at Manhattan high-rise .</a></h4>
							<p class="text-left">A 30-year-old man was killed in an elevator accident in New York City
								on Thursday morning after he became trapped when the car shifted while he attempted to
								exit, officials said.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									22nd Aug 2019
								</li>

							</ul>
						</div>
						<!-- Second News Article -->
						<div class="img-hover">
							<a href="https://www.cbsnews.com/video/man-injured-in-out-of-control-elevator-crash-caught-on-tape/"
								target="_blank">
								<img class="img-fluid" src="assets/images/caughtontape-0610-elevatorcrash-640x360.jpg"
									alt="">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Man injured in out-of-control
									elevator crash</a></h4>
							<p class="text-left">A man is seriously injured after an out of control elevator in
								Santiago, Chile, shoots up 31 flights in 15 seconds and crashes into the roof.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									10th Jun 2014
								</li>

							</ul>
						</div>
						<!-- Third News Article -->
						<div class="img-hover">
							<a href="https://www.today.com/parents/moms/mom-gives-birth-hospital-elevator-rcna29918"
								target="_blank">
								<img class="img-fluid" src="assets/images/News3.jfif" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="blog-single-default.html">Mom gives birth in hospital
									elevator on Mothers Day.</a></h4>
							<p class="text-left">Dallas mom Betzabeth Perez had a Mother’s Day she will never forget
								after giving birth in an elevator. She can thank security guard Eli Davila for safely
								delivering her baby girl.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									29th Jan 2017
								</li>

							</ul>
						</div>
						<!-- Forth News Article -->
						<div class="img-hover">
							<a href="https://www.cbc.ca/news/business/elevator-broken-1.3689394" target="_blank">
								<img class="img-fluid" src="assets/images/News4.jfif" alt="">
							</a>

							<h4 class="text-left mt-20"><a
									href="https://www.cbc.ca/news/business/elevator-broken-1.3689394"
									target="_blank">Broken elevators reaching 'crisis' proportions across Canada.</a>
							</h4>
							<p class="text-left">Every day of the year, Canadians across the country are finding
								themselves trapped in faulty elevators, while countless more are suffering through
								inconvenience and isolation because of elevators that are out of service — and the
								problem is worsening, an investigation by The Canadian Press has found.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									21st Jul 2016
								</li>

							</ul>
						</div>
						<!-- Fifth News Article -->
						<div class="img-hover">
							<a href="https://www.npr.org/sections/health-shots/2020/06/08/869595720/the-office-elevator-in-covid-times-experts-weigh-in-on-safer-ups-and-downs"
								target="_blank">
								<img class="img-fluid" src="assets/images/News5.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a
									href="https://www.npr.org/sections/health-shots/2020/06/08/869595720/the-office-elevator-in-covid-times-experts-weigh-in-on-safer-ups-and-downs"
									target="_blank">
									The Office Elevator In COVID-19 Times: Experts Weigh In On Safer Ups And Downs.</a>
							</h4>
							<p class="text-left">"When there is risk of disease spreading from human to human,
								continuing to maintain a clean and safe vertical transportation system is critical to
								help people return to work and safe living," says Jon Clarine, head of digital services
								at Thyssenkrupp Elevator.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									8th Jun 2020
								</li>

							</ul>
						</div>
						<!-- Sixth News Article -->
						<div class="img-hover">
							<a href="https://globalnews.ca/news/6418179/elevator-rescue-downtown-toronto/"
								target="_blank">
								<img class="img-fluid" src="assets/images/News6.png" alt="">
							</a>
							<h4 class="text-left mt-20"><a
									href="https://globalnews.ca/news/6418179/elevator-rescue-downtown-toronto/"
									target="_blank">‘My biggest fear’: Man, 21, injured after elevator cable snaps in
									downtown Toronto highrise.</a></h4>
							<p class="text-left">A 21-year-old man says he lived his biggest fear when he was inside an
								elevator when a cable snapped in a downtown Toronto highrise Wednesday evening,
								prompting a high-angle rappelling rescue.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i>
									19th Aug 2021
								</li>

							</ul>
						</div>


			</section>









			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/landt-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/med-all-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/triumph-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/yokohama-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/otto-shirts-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/express-avenue-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/ganesh-builders-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/ramaniyam-builders-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/vijay-raja-builders-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/St-Isabel-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/apollo-proton-logo.jpg" alt="client" />

						</li>
						<li class="col-md-3 col-sm-3 col-6">

							<img class="img-fluid" src="assets/images/premier-stablizer-logo.jpg" alt="client" />

						</li>
					</ul>

				</div>
			</section>
    </div>
<div class="container" >
					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato"><i>The best way to reach us for buisness !</i></p>
						<hr />
					</header>
<div class="row">
<div class="col-md-8 col-sm-8">
<h3>Leave a comment, question or contact us for buisness. <strong><em></em></strong></h3>
<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
</div>
<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
</div>
<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
</div>
<%# <form method="post">
<fieldset>
<input type="hidden" name="action" value="contact_send" /> %>
<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-4">
    <%= form.label :Full_Name_Of_The_Contact %>
    <%= form.text_field :Full_Name_Of_The_Contact, :id => "name", :class => "form-control", :required => true %>
  </div>

  <div class="col-md-4">
    <%= form.label :Email %>
    <%= form.email_field :Email, :id => "email", :class => "form-control", :required => true %>
  </div>

  <div class="col-md-4">
    <%= form.label :Phone %>
    <%= form.text_field :Phone, :id => "phone", :class => "form-control", :required => true %>  
  </div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <%= form.label :Company_Name %>
    <%= form.text_field :Company_Name, :id => "company_name", :class => "form-control", :required => true %>
  </div>

  <div class="col-md-4">
    <%= form.label :Project_Name %>
    <%= form.text_field :Project_Name, :id => "project_name", :class => "form-control", :required => true %>
  </div>

  <div class="col-md-4">
    <%= form.label :Project_Description %>
    <%= form.text_area :Project_Description, :id => "project_description", :class => "form-control", :required => true %>
  </div>
  </div>

  <div class="row">
  <div class="col-md-4">
    <%= form.label :Departement %>
    <%= form.select :Departement_In_Charge_Of_The_Elevators, options_for_select(["Select One", "Residential", "Corporate", "Commercial", "Hybrid"], :disabled => ["Select One"], :selected =>"Select One"), :id => "department", :class => "form-control pointer", :required => true %>
    <%# <select id="department" class="form-control pointer"
												name="contact[department]">
												<option value="">--- Select ---</option>
												<option value="Residential">Residential</option>
												<option value="Corporate">Corporate</option>
												<option value="Commercial">Commercial</option>
												<option value="Hybrid">Hybrid</option>
		</select> %>
  </div>

  <div class="col-md-8">
    <%= form.label :Message %>
    <%= form.text_area :Message, :id => "message", :rows => "5", :class => "form-control", :required => true %>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-12">
    <%= form.label :Attached_File_Stored_As_A_Binary_File %>
    <%= form.file_field :Attached_File_Stored_As_A_Binary_File, :id => "attachment", :class => "custom-file-upload" %>
    <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
  </div>
  </div>

  <%# </fieldset> %>
  <br><br/>
  <div class="row">
  <div class="actions col-md-12">
  <%= form.submit :Submit, :id => "submit", :class => "btn btn-primary"%> 
  <% end %>
  </div>
  </div>
  <%# </form> %>
  </div>
  <div class="col-md-4 col-sm-4">
  

							<h2>Visit Us</h2>

							<!--
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.407689664905!2d-71.29402718421234!3d46.835663748905844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sfr!2sca!4v1653523298815!5m2!1sfr!2sca"
								width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
							<!-- <div id="map2" class="h-400 grayscale"></div> -->

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:<a
											href="https://www.google.com/maps/place/CodeBoxx/@46.8356601,-71.2940272,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897d0e1cafe3f:0x9863b2d992c71670!8m2!3d46.8356601!4d-71.2918385"
											target="_blank">
									</strong> 1165 Bd
									Lebourgneuf Suite 300, Québec, QC G2K 2C9</span></a>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
										href="tel:(418) 555-1234">(418) 555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
										href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>

</div>
</div>
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the
								market.<a href="#contact"> Contact us</a> today for any questions you might have.</p>
							<h2><a href="tel:(418) 555-1234">(418) 555-1234</a></h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post"
								data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required"
										placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
