<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<table>
  <thead>
    <tr>
      <th>Full name of the contact</th>
      <th>Company name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Project name</th>
      <th>Project description</th>
      <th>Departement in charge of the elevators</th>
      <th>Message</th>
      <th>Attached file stored as a binary file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.Full_Name_Of_The_Contact %></td>
        <td><%= lead.Company_Name %></td>
        <td><%= lead.Email %></td>
        <td><%= lead.Phone %></td>
        <td><%= lead.Project_Name %></td>
        <td><%= lead.Project_Description %></td>
        <td><%= lead.Departement_In_Charge_Of_The_Elevators %></td>
        <td><%= lead.Message %></td>
        <td><%= lead.Attached_File_Stored_As_A_Binary_File %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Lead', new_lead_path %> 
