<p id="notice"><%= notice %></p>

<p>
  <strong>Full name of the contact:</strong>
  <%= @lead.Full_Name_Of_The_Contact %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @lead.Company_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.Email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.Phone %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @lead.Project_Name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @lead.Project_Description %>
</p>

<p>
  <strong>Departement in charge of the elevators:</strong>
  <%= @lead.Departement_In_Charge_Of_The_Elevators %>
</p>

<p>
  <strong>Message:</strong>
  <%= @lead.Message %>
</p>

<p>
  <strong>Attached file stored as a binary file:</strong>
  <%= @lead.Attached_File_Stored_As_A_Binary_File %>
</p>

<%# <%= link_to 'Edit', edit_lead_path(@lead) %> 
<%# <%= link_to 'Back', leads_path %> 
