<!DOCTYPE html>
<html>
  <head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7Z0ML12W2B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7Z0ML12W2B');
</script>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>var plugin_path = '/assets/plugins/';</script> 
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div>
        <%= msg %>
        </div>
      <% end %>
    <% end %>

    
    
    <%= yield %>
  </body>
</html>
